@import 'bootstrap/dist/css/bootstrap.min.css';
/* @import './all.min.css';
@import './framework.css';
@import './master.css'; */
@import './normalize.css';
@import './qwafel.css';
@import './layout.css';
@import './dashboard.css';