:root {
  --blue-color: #304e58;
  --blue-alt-color: #3d6370;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Cairo", sans-serif;
  margin: 0;
}
*:focus {
  outline: none;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}
.page {
  background-color: #f1f5f9;
  min-height: 100vh;
}
/* Start Sidebar */
.sidebar {
  width: 75px;
  padding: 20px;
  box-shadow: 0 0 10px #ddd;
  transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
  overflow: hidden;
}
.sidebar:hover {
  width: 300px;
}
.sidebar > h3 {
  margin: 25px 0 50px 0;
  transition: 0.3s;
  white-space: nowrap;
}
.sidebar:hover > h3 {
  margin-left: 0;
  opacity: 1;
  visibility: visible;
}
.sidebar > h3::before,
.sidebar > h3::after {
  content: "";
  background-color: black;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
}
.sidebar > h3::before {
  display: none;

  width: 80px;
  height: 2px;
  bottom: -20px;
}
.sidebar > h3::after {
  display: none;
  bottom: -29px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 4px solid white;
}
.sidebar ul li a {
  margin-bottom: 5px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}
.sidebar ul li a:hover,
.sidebar ul li a.active {
  background-color: #f6f6f6;
}
.sidebar ul li a span {
  font-size: 16px;
  margin-right: 10px;
  white-space: nowrap;
  transition: margin-left 0.3s linear, opacity 0.3s ease, visibility 0.3s ease;
}

.sidebar:hover > ul li a span {
  opacity: 1;
  visibility: visible;
}
@media (max-width: 767px) {
  .sidebar {
    width: 58px;
    padding: 10px;
  }
  .sidebar > h3 {
    font-size: 13px;
    margin-bottom: 15px;
  }
  .sidebar > h3::before,
  .sidebar > h3::after {
    display: none;
  }
  .sidebar ul li a span {
    display: none;
  }
}
.activeS {
  width: 300px;
}
.dActive {
  margin-left: -10px;
  opacity: 0;
  visibility: hidden;
}

/* End Sidebar */
/* Start Content */
.content {
  overflow: hidden;
}
.search::before {
  font-family: var(--fa-style-family-classic);
  content: "\f002";
  font-weight: 900;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--grey-color);
}
.search input {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-left: 5px;
  padding-left: 30px;
  width: 250px;
  transition: width 0.3s;
}
.search input:focus {
  width: 300px;
}
.search input:focus::placeholder {
  opacity: 0;
}
.head .icons .notification::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--red-color);
  border-radius: 50%;
  right: -5px;
  top: -5px;
}
.head .icons img {
  width: 32px;
  height: 32px;
  margin-left: 15px;
}
.page h1 {
  margin: 20px 20px 40px;
  text-align: center;
}
.page h1::before {
  content: "";
  height: 3px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.page h1::before {
  background-color: black;
  width: 120px;
}

.wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
/* End Content */
.humburger {
  color: black;
  cursor: pointer;
  display: block;
}
.humburger .line {
  transition: all 0.3s ease;
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
}
.change .line:first-child {
  transform: translate(0, 8px) rotate(-45deg);
}

.change .line:nth-child(2) {
  opacity: 0;
}
.change .line:last-child {
  transform: translate(0, -10px) rotate(45deg);
}
/* Start addIteam Widget */
.addIteam {
  position: relative;
  margin: 75px 20px;
}
.addIteam input {
  font-size: 20px;
}
.addIteam textarea {
  resize: none;
  min-height: 180px;
  font-size: 20px;
}
.addIteam .save {
  margin-left: auto;
  transition: 0.3s;
  cursor: pointer;
  padding: 10px 20px;
}
.addfield,
.removefield {
  transition: 0.3s;
  cursor: pointer;
}
.addfield {
  padding: 10px 20px;
  margin-bottom: 20px;
}
.removefield {
  padding: 23px;
  border-radius: 6px;
}
.addIteam .save:hover {
  background-color: var(--blue-alt-color);
}

.addIteam .select {
  display: flex;
  align-items: center;
}
.addIteam .select label {
  margin-right: 20px;
  color: #757575;
  margin-top: -15px;
  width: 15%;
}
.addIteam .select select {
  width: 85%;
  font-size-adjust: 1;
}

.addIteam .cBox {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  flex-wrap: wrap;
  gap: 20px;
}
.addIteam .cBox label label {
  margin-right: 20px;
  margin-top: 2.5x;
  font-size: 20px;
  color: #757575;
}
.proTabs {
  position: absolute;
  top: -53px;
  left: 0;
}
.proTab {
  padding: 17px 25px 25px 25px;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

.proTabActive {
  background-color: white;
}
/* End addIteam Widget */
/* Start iteams Table */
.iteams .responsive-table {
  overflow-x: auto;
}
.iteams h2 {
  text-align: center;
  font-size: 28px;
}
.iteams table {
  min-width: 1000px;
  border-spacing: 0;
}
.iteams thead td {
  background-color: #eee;
  font-weight: bold;
  text-align: center;
}
.iteams table td {
  padding: 15px;
}
.iteams tbody td {
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  transition: 0.3s;
  overflow: hidden;
}
.iteams tbody td .editImage {
  position: absolute;
  bottom: 41px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 33px;
  color: #fff;
  cursor: pointer;
}
.iteams tbody td a:first-child i {
  color: var(--blue-color);
}
.iteams tbody td a:last-child i {
  color: var(--red-color);
}
.iteams table tbody tr td:last-child {
  border-right: 1px solid #eee;
}
.iteams tbody tr:hover td {
  background-color: #faf7f7;
}
.iteams table img {
  width: 100px;
  height: 100px;

  padding: 2px;
  background-color: white;
}
.iteams table img:not(:first-child) {
  margin-left: -20px;
}
.iteams table .label {
  font-size: 13px;
}
.iteams .more {
  margin-top: 15px;
  padding: 11px 20px;
  /* margin-left: 44%; */
  cursor: pointer;
}
/* End iteams Table */

.toggle-checkbox {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
.toggle-switch {
  background-color: #ccc;
  width: 78px;
  height: 32px;
  border-radius: 16px;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}
.toggle-switch::before {
  font-family: var(--fa-style-family-classic);
  content: "\f00d";
  font-weight: 900;
  background-color: white;
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
  transition: 0.3s;
}
.toggle-checkbox:checked + .toggle-switch {
  background-color: var(--blue-color);
}
.toggle-checkbox:checked + .toggle-switch::before {
  content: "\f00c";
  left: 50px;
  color: var(--blue-color);
}
.settings-page :disabled {
  cursor: no-drop;
  background-color: #f0f4f8;
  color: #bbb;
}
.profile-page .info-box .toggle-switch {
  height: 20px;
}
@media (max-width: 767px) {
  .profile-page .info-box .toggle-switch {
    margin: auto;
  }
}
.profile-page .info-box .toggle-switch::before {
  width: 12px;
  height: 12px;
  font-size: 8px;
}
.profile-page .info-box .toggle-checkbox:checked + .toggle-switch::before {
  left: 62px;
}
.login {
  width: 500px;
  border: 3px solid #7575;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100px;
}
.login .save {
  transition: 0.3s;
  cursor: pointer;
  background-color: var(--blue-color);
}
.login .save:hover {
  background-color: var(--blue-alt-color);
}
/* preview image  */
.container.previewimg {
  background-color: #eee;
  /* width: 100%; */
  min-width: 450px;
  position: relative;
  margin: 50px auto;
  padding: 50px 20px;
  border-radius: 7px;
  box-shadow: 0px 0px 35px rgb(0 0 0 / 5%);
}
.previewimg input[type="file"] {
  display: none;
}
.previewimg label {
  display: block;
  position: relative;
  background-color: var(--blue-color);
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  width: 300px;
  padding: 18px 0;
  margin: auto;
  border-radius: 5px;
  cursor: pointer;
}
.container.previewimg p {
  text-align: center;
  margin: 20px 0 30px 0;
}
.previewimg #images {
  position: relative;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
}
.previewimg figure {
  width: 20%;
  position: relative;
}
.previewimg img {
  width: 100%;
}
.previewimg figcaption {
  text-align: center;
  font-size: 2.4vmin;
  margin-top: 0.5vmin;
  word-break: break-word;
}
.previewimg .delete-button {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: var(--blue-alt-color);
  color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Option sidebar  */
.opSidebar {
  width: 120px;
  padding: 20px;
  transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
  position: relative;
}
.obTabs {
  position: absolute;
  left: -23px;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.obTab {
  padding: 15px 80px 15px 20px;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

.obTabActive {
  background-color: #f1f5f9;
}
/* Option sidebar  */
/* Option Content  */
.optionsContent {
  width: 100%;
  z-index: 1;
}
.obSizes,
.obColors {
  padding: 15px;
}
.optionsContent table {
  padding: 25px;
}
.optionsContent table input {
  background-color: white;
}
.optionsContent table thead td {
  font-size: 25px;
}
.plusButton,
.delete-btn {
  height: 60px;
  width: 60px;
  font-size: 35px;
  border: none;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.plusButton::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 300;
  content: "\2b";
}
.delete-btn::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f068";
}

.plusButton::before,
.delete-btn::before {
  background: white;
  font-size: 25px;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.plusButton {
  background-color: #07ab72;
  margin-left: auto;
  margin-right: 40px;
}
.plusButton::before {
  color: #07ab72;
}
.delete-btn {
  background-color: var(--red-color);
}
.delete-btn::before {
  color: var(--red-color);
}
.myTable {
  direction: rtl;
}
.myTable td {
  position: relative;
}
.myTable tr {
  cursor: pointer;
}

.myTable .image {
  width: 200px;
  height: 250px;
  vertical-align: middle;
}

.myTable .image:not(:first-child) {
  display: none;
}

.myTable .image img {
  width: 200px;
  height: 250px;
  padding: 2px;
  background-color: white;
}

.myTable .pre-btn,
.myTable .nxt-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  display: flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  cursor: pointer;
  color: var(--blue-color);
  z-index: 3;
}

.myTable .pre-btn {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.myTable .nxt-btn {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.myTable .bullets {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px;
  display: flex;
  justify-content: center;
}

.myTable .bullets li {
  display: inline-block;
  width: 25px;
  height: 10px;
  border-radius: 2px;
  border: 1px solid transparent;
  background-color: #0075ff61;
  transition: 0.3s;
  cursor: pointer;
}

.myTable .bullets li:not(:last-child) {
  margin-right: 5px;
}

.myTable .bullets li.active {
  width: 40px;
}

.myTable .bullets li.active,
.myTable .bullets li:hover {
  background-color: var(--blue-color);
  border: var(--blue-color);
}

.myTable .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal .headModel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headModel .information {
  min-width: 30%;
}
.headModel .information div {
  margin-bottom: 10px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}
.modal .headModel button {
  cursor: pointer;
}
/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

/* .close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
} */

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
.searchPage {
  position: relative;
  display: flex;
  margin: 40px 0;
  justify-content: center;
}
.searchPage input {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding-left: 30px;
  width: 380px;
  height: 65px;
  font-size: 18px;
  transition: width 0.3s;
}
.searchPage button {
  width: 60px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 18px;
  cursor: pointer;
  height: 100%;
}
/* tickte  */
.filter .container {
  gap: 20px;
}
@media (max-width: 767px) {
  .filter .container {
    flex-direction: column;
    max-width: 100%;
  }
}
.filter .container div div {
  display: flex;
  flex-direction: column;
}
.filter .save {
  height: 40px;
  width: 50%;
  margin: auto;
  cursor: pointer;
}
